 
body{
    background-color: black;
    color:lightgray
  }
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "DM-sanse" ,"sanse-serif";
    
  }
  html{
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
  }
  a{
    text-decoration: none;
    color:inherit;
  }
  
  
  